<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        {% if page.url != "/blog.html" and page.url != "/blog2.html" %}
        {% if page.collection == "posts2" %}
          <p><a href="{{ "/blog2.html" | relative_url }}">⬅️ Terug naar het blogoverzicht</a></p>
        {% else %}
          <p><a href="{{ "/blog.html" | relative_url }}">⬅️ Terug naar het blogoverzicht</a></p>
        {% endif %}
        {% endif %}
      </div>
    </main>
    {%- include footer.html -%}
  </body>
</html>